[2017-09-02 09:33] ctkwhl opened #3 "More usage info needed"
Hello,

What a great node module! I'm however very new to node.js and therefore struggeling to achieve something simple like:

1) Setup node.js webserver
2) Create action queries for arming and disarming
3) Execute the arming and disarming code via node-blink-security

1 and 2 are up and running. A little bit more and/or easier code example to trigger arming would therefore be very welcome! Many t

[2017-09-30 06:08] ryanemmm commented on #3
1. create file app.js in the dir where your node_modules lives
2. copy the script/code from the "usage" (https://github.com/madshall/node-blink-security#usage) into app.js; change the YOURNAME and YOURPASSWORD to your login info
3. save and run as ```node app.js```
you should see a console dump (the blink object)

[2017-09-30 07:54] ryanemmm opened #4 "getting error setting blinkCamera.setMotionDetect(bool)"
More of a question than an issue per se.

[code]
1. Is it NOT possible to only toggle motion detect on a single camera?
- read somewhere that folks are using multiple sync modules to get "groups" of cameras
- the iOS app let's you toggle individual cameras' motion detection

2. Looking at the iOS app via charlesproxy, I can see that the request signature appears to be the same as the libs setMotio

[2017-10-01 22:49] #3 closed

[2017-10-01 22:53] madshall commented on #4
Hi @ryanemmm can you set a breakpoint in `setMotionDetect` method in blick_camera.js to see what the `response` and `err` are?

[2017-10-02 14:53] ryanemmm commented on #4
@madshall -- thanks. I'll try that and report back. I suspect it's me/my setup. Replaying the iOS request in charles -- and even copying that to postman -- works.

[2017-10-05 05:49] ryanemmm commented on #4
@madshall -- did some digging. Looks like camera.arm_link is null
note: there's a good chance I'm doing something wrong :)

* here's my test file... get the cameras, get the specific camera, call setMotionDetect(true)
* added a console.log in the setMotionDetect method... console.log('arm_link_url = ', url)
* expected this._arm_link to be ```https://prod.immedia-semi.com/network/:networkId/camera/

[2017-10-12 02:07] madshall commented on #4
@ryanemmm I see what the problem is. You don't need to call `getCameras()`. `setupSystem()` does it for you already and then if calls `getLinks()` as well. If you do call `getCameras()` by yourself, then you need to call `getLinks()` too. Look at [this method](https://github.com/madshall/node-blink-security/blob/1657b2816cbd5990bafe13908ad49186ff04918d/lib/blink.js#L228). `getCameras()` and `getLi

[2017-10-12 02:15] madshall commented on #4
@ryanemmm to be more clear this should be your code:
[code]
But I'd set motion detect before setting the system into armed state because I'm not sure how Blink api will handle this.

[2017-10-12 02:19] ryanemmm commented on #4
@madshall -- Awesome. Thanks for digging into that. I'll go try that out.

On Oct 11, 2017, 7:15 PM -0700, Dmitry Ivanov <notifications@github.com>, wrote:

[2017-10-24 03:34] madshall commented on #4
I suppose this on is resolved. Reopen if not.

[2017-10-24 03:34] #4 closed

[2017-10-24 06:10] ryanemmm commented on #4
Hi @madshall -- saw your comment (re: closing) earlier... THANK YOU for looking into this. I got side-tracked/busy and this fell off my radar.

I was able to get things working (sorta)... but I am running into a couple of issues...

I re-implemented:
``` blink.cameras.kitchen... #yes```
vs
``` blink.getCameras().kitchen #don't do this```

Still seeing some weirdness:
1. the _arm_link shows ```http

[2017-12-08 00:21] tonymet opened #7 "Unit suite needed?"
Hey @madshall thanks again.  I copied some `chai` + `replay` + `istanbul` + `travis` work I had from another project.  It gives decent coverage and tests builds on `node6` & `node8`.  There's also an npm deploy whenever a version tag like `v1.1.1` is set.

If you like the idea, I can submit the changes in a PR.  I didn't want to send it over until making sure it was ok with you.

Here's [an exampl

[2017-12-10 02:52] madshall commented on #7
Looks good @tonymet , go ahead with a PR.

[2017-12-11 19:24] #7 closed

[2017-12-21 02:44] madshall opened #13 "Camera status update is not working"
Need help with this one. The app has an "Update" button on a camera page - when it's clicked the temperature of the sensor is updated. None of known endpoints does that - temperature is always taken from cache by sync module. Need to sniff mobile app https traffic and find out what the endpoint is.

[2017-12-27 22:22] tonymet commented on #13
so I set up `mitmproxy` to try to help out on this.  I can't seem to get Blink to connect through the proxy -- probably some cert pinning?  All of my other SSL android apps will pass traffic through the proxy, but Blink just spins when the app loads and the proxy doesn't report any traffic.

If you have Blink running on a proxy let me know and I'll try to help out further with reverse engineering.

[2017-12-27 22:23] tonymet commented on #13
Another approach could be to use `strings` to scan the apk for rest endpoints, then hit those using curl

[2017-12-27 23:15] tonymet commented on #13
[code]

[2017-12-28 01:35] madshall commented on #13
Yeah, they check for the certificate in their code. I wasn't able to sniff the traffic because of that. But(!) I disassembled the apk and found the right endpoint - POST to `/status`. It's already in the latest build ;) Thanks for your help @tonymet !

[2017-12-28 01:35] #13 closed

[2018-03-13 22:34] jasmas opened #14 "Library support for multiple Cameras with the same name"
https://github.com/madshall/node-blink-security/blob/fc2ee63ae159fe3d930d6705323e6f3f22f7608a/lib/blink.js#L220

Is it possible to use this library to address multiple cameras on the same blink system configured with the same name? I am thinking because this array is keyed on the name and not the camera id then this is not possible. Correct me if I'm wrong?

[2018-03-16 02:32] madshall commented on #14
@jasmas you're right, currently it's indexing cameras by their name. I've not thought of a use case where cameras have same name. Is it causing you problems?

[2018-03-17 20:09] rdkgit opened #15 "SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode"
Dumb question.

I have node 4.8.4 and am trying to use this module but keep getting the above error message.

I've tried "use strict" but still get this error.

Any suggestions?

thanks,

Bobby

[2018-03-18 01:02] madshall commented on #15
Node 4 is way behind the LTS. This module's min compatible version is 6.0.0. It's set in `package.json`: `"node": ">=6.0.0"` so you should've seen a warning or something when installing this module with node 4. The solution would be to upgrade to at least 6.0.0

[2018-03-18 02:35] rdkgit commented on #15
Thanks.  I kinda was figuring that.  I'm using a Fedora RPM for nodejs install.  Probably time to update my system.

Bobby

[2018-03-18 02:35] #15 closed

[2018-03-18 15:10] rdkgit opened #16 "how to use camera snapPicture method?"
Hi!

I upgraded my nodejs install and am writing some code to manipulate my blink cameras.

I'd like to periodically get a snapshot from my cameras.  I'm invoking snapPicture() and I keep getting an error "Can't get snapshot from camera XXXX:cam-nam".

Does this method work to generate new snapshots?  Am I missing a step?

Thanks,

Bobby

[2018-03-22 19:11] rdkgit opened #17 "Fetch motion events?"
Hi!

I'm trying to get motion events from my blink cameras.  The android/ios apps get notifications and I can see motion events in them.

When I use the API to get events, I see first_boot events and hearbeat events using getEvents() but no motion events.  I tried getLastMotions() but that returns nothing.  I know motion events are getting triggered because the blink apps are showing them.

Thanks

[2018-03-24 00:26] jasmas commented on #14
Cameras can have the same name in a Blink system because I think their api must actually index by camera ID. It was just a caveat I noticed while building another library making use of yours.

[2018-03-24 00:46] jasmas opened #18 "Motion Detect for individual cameras set/get not working"
I am trying to control the motion detect record setting for individual cameras and am finding that camera.armed seems to always return true and camera.setMotionDetect(false/true) returns an error that reads: Error: Can't set motion detect for camera [camerid:name]

[2018-03-24 00:53] jasmas commented on #18
I see the problem. Each camera has an armed value which is actually displaying the armed value of the system. I am looking for the enabled/disabled value which you don't yet pull into a property. I'll try to submit a pull request when I get the chance to add it.

[2018-03-24 00:54] jasmas commented on #18
The value I'm looking for is the enabled:true/false value, I believe, because that value seems consistent with if the motion sensor is set or not.

[2018-03-24 02:16] madshall commented on #16
Hi @rdkgit, can you provide some code that's causing this? Also, try to put `console.log(err);` above this line https://github.com/madshall/node-blink-security/blob/fc2ee63ae159fe3d930d6705323e6f3f22f7608a/lib/blink_camera.js#L146

[2018-03-24 02:25] madshall commented on #17
hi @rdkgit, can you provide some code so that I can try to reproduce it?

[2018-03-24 02:27] #18 closed

[2018-03-24 02:28] madshall commented on #18
Makes sense. I merged that guy in. Thank you!

[2018-03-24 02:47] jasmas commented on #18
If you could get a version with this pushed out to npm soon, I'd appreciate. Have a downstream project I'm working on dependent on it.

[2018-03-24 03:03] jasmas opened #20 "setMotionDetect always returns error"
Whenever I try to setMotionDetect for a camera, I always get the following error:
Error: Can't set motion detect for camera {id}:{name}

Are we sure this method is working?

If you want to see my downstream code, it is for a homebridge plugin to add blink cameras into homekit. The current status is to provide on on/off switch for the system and on/off switches for the motion sensors for each camer

[2018-03-24 03:06] rdkgit commented on #17
events=true;
blink.setupSystem().then(() => {

    var cameras = blink.cameras;
    if (events) {
	console.log("Getting motions/events");
	blink.getLastMotions().then(lastMotionsReceived,lastMotionsFailed);
	blink.getEvents().then(eventsReceived,eventsFailed);
    }
}

function eventsReceived(result)
{
    var i;

    console.log("Events received: ");
    for (i=0; i<result.length; i++) {

[2018-03-24 03:09] rdkgit commented on #17
Hi!

Pretty much, there are events, but no motion events.
Armed events, first_boot events, heartbeat events but no motion.

Thanks,

Bobby

[2018-03-24 04:01] jasmas commented on #20
I added some debug code to the module and it doesn't appear the _arm_link is getting populated in my scenario

[2018-03-24 12:35] jasmas commented on #20
Worth noting that when I try manually curling against REST API as defined here:
https://github.com/MattTW/BlinkMonitorProtocol
I get the error:
<h1>Not Found</h1>
We may be dealing with a change in the undocumented API.

[2018-03-24 14:40] rdkgit commented on #16
I believe this one now works.  I think the sync module does is it causes camera to take a snapshot but it does not return the snapshot.  You then have to go back in a subsequent call and fetch the thumbnail.

Is this your understanding as well?

Thanks,

Bobby

[2018-03-25 14:13] jasmas commented on #20
This pull request resolves the issue. Just needed parenthesis, otherwise the URL was always set to 'enable'.

[2018-03-25 15:10] rdkgit commented on #17
I am working on some mods to blink.js and blink_camera.js and when done will clone this repo and submit a pull request.  Thanks for making this module available!

[2018-03-27 01:11] madshall commented on #18
v1.3.0 is out

[2018-03-27 01:19] madshall commented on #16
Yes, that's right. That's how their API works.

[2018-03-27 01:25] madshall commented on #17
@rdkgit I believe you need to poll for events with some interval. Otherwise, you only receive initial events which happened between `setupSystem()` and `getEvents()`. If you want to receive all events going down the road, you need to do something like:
[code]

[2018-03-27 01:29] #20 closed

[2018-03-27 01:31] madshall commented on #20
Wow, this seems to be a pretty dumb mistake. I'm gonna merge it and push the updated package to npm.

[2018-03-27 03:46] jasmas opened #22 "Prototype pollution attack security vulnerability due to request dependency version"
Name: hoek
CVSS: 4 (Medium)
Installed: 2.16.3
Vulnerable: <= 4.2.0 || >= 5.0.0 < 5.0.3
Patched: > 4.2.0 < 5.0.0 || >= 5.0.3
Path: node-blink-security@1.3.1 > request@2.81.0 > hawk@3.1.3 > hoek@2.16.3
More Info: https://nodesecurity.io/advisories/566

Solution is to get request version dependency updated to at least v2.82.0.

[2018-04-03 01:21] madshall commented on #22
Thank you! Fixed in v1.3.2

[2018-04-03 01:21] #22 closed

[2018-04-03 01:22] madshall commented on #17
I'm pretty sure the issue is resolved, but I'll keep it open for a couple more days before closing it, just in case.

[2018-04-03 01:24] #16 closed

[2018-04-03 01:32] rdkgit commented on #17
I havent been able to test the code since I've been out of town moving my folks.

So what you are saying is that the blink clients have to pretty much stay connected and continuously poll?

If thats the case, how come when my iPad becomes re-connected, he somehow is able to fetch past motion events?  This behavior would imply that there is some way to see past events.

Thanks,

Bobby

[2018-04-03 03:22] madshall commented on #17
Unfortunately, that's what Blink gives us. I talked to them multiple times and they declined to provide more functionality to 3rd-party developers. Their sync module does polling all the time and once it sees a new event, like motion, it sends a command to their server to publish a notification that your mobile app receives. They're not willing to either open their API or allow subscribing to thei

[2018-04-11 22:14] jasmas opened #23 "Race conditions can occur"
For certain commands that return an ID, node-blink-security should be blocking for that command to complete before issuing additional REST API commands.

I noticed that a Blink object seems to not manage asynchronous activities against it by default. However, certain types of commands have to be serialized through the sync module which can only handle one command at a time. I've been working aroun

[2018-04-12 14:00] madshall commented on #23
I see. We can get this fixed, but I don't currently have bandwidth. So, I'd say - help needed.

[2018-04-25 18:09] jasmas opened #24 "Errors for long running processes"
I've noticed that after about 24 hours my Blink objects always throw an error something like the one below.
[code]
I tried to add some extra logging of any error or response returned that would cause this error to be thrown in blink.js, but it appears there is none.

This happens after about 24 hours. Is it possible that this is due to the authentication token expiring? I didn't notice anything in

[2018-04-25 23:51] madshall commented on #24
I ran into this issue before. It's either a session timeout or api calls limit. Since the api is promise-based, you can `catch` the error and once it happens, call `setupSystem` again. However, this wasn't always working and blink was rejecting the authentication for me. That's why I think it's an api quota issue. But you can try to re-initialize it with some interval until it gets through.

[2018-08-04 15:51] nutkracker opened #25 "Fetching clips"
I've added the following code snippet to the **blink_camera.js** file (similar function to that of fetchImageData).

[code]
I'm able to call into **fetchImageData** and retrieve a thumbnail with no issues.  However, when I make a similar call but to my new function of **fetchClip**, it doesn't work.

The problem I'm experiencing is that although it appears the video file is being downloaded, the w

[2018-08-29 01:59] madshall commented on #25
Sorry for the late response. Let me poke it..

[2018-08-29 02:47] madshall commented on #25
Ok, I don't know what problem you're trying to solve, but here's something I found:
1. Add this to `blink_url_handlers.js`
[code]
2. Add this method to `blink.js`
[code]
3. Run a test like this
[code]
That endpoint supports pagination and in order to paginate add `/page/PAGE_NUMBER` to `this.urls.video_url`. Fetch pages until there's no results returned or you get at least 1 video for each camera.

[2018-08-29 02:48] madshall commented on #24
I'm closing this one due to inactivity. Please, reopen if the issue is not resolved.

[2018-08-29 02:48] #24 closed

[2018-08-29 02:48] madshall commented on #23
I'm closing this one due to inactivity. Please, reopen if the issue is not resolved.

[2018-08-29 02:48] #23 closed

[2018-08-29 03:11] madshall commented on #25
I actually added `getVideos` to the latest 2.0.0 release. Experiment with it and let me know if there's anything I can help with.

[2018-08-30 03:04] madshall commented on #14
Fixed in #26

[2018-08-30 03:04] #14 closed

[2018-09-11 18:27] jasmas commented on #24
In my module, I was able to work around this by creating a new instance
every 24 hours. It seems exactly after 24 hours even if I'm catching the
exceptions, the instance quits succeeding entirely. I always start my calls
with setupsystem to ensure I'm authenticated so I think there's just a
limit on how long you can use an authentication code

On Wed, Apr 25, 2018 at 19:51 Dmitry Ivanov <notificat

[2018-09-20 01:28] madshall commented on #24
Yes, there is a limit. At some point you need to re-authenticate to obtain a new token. I talked to their support almost a year ago and they rejected to give any details on the actual quota. More than that they were surprised that their app was reverse engineered and the API was accessed directly. I'm afraid, since it's Amazon company now, at some point they may close the API completely. Let's hop

[2018-09-30 15:48] nutkracker commented on #25
Thanks for this.  I actually managed to get something working... but appreciate your assistance!!

[2018-09-30 22:30] #25 closed

[2018-11-28 04:33] collinforrester opened #27 "Question - on motion detection hook"
Hi,

I'm looking for a way to setup a call back when motion is detected.  I've experimented with IFTTT and a custom smart things device... It's too slow/finnicky

My next option is to run something like this on a Pi to run some code to wait for motion and then of no one's home, send the latest thumbnails toe or something.

Any thoughts?

[2018-11-29 14:43] collinforrester commented on #27
So do you have additional hardware to detect that motion?

[2018-11-29 15:08] madshall commented on #27
No, the service runs on my PI and all it does is pings all known devices every 30 seconds.

[2018-12-23 14:39] nutkracker commented on #25
Hi, I'd like to revisit this topic again if possible...  as I have a slight issue.

The original topic was around being able to get a list of videos that I could then present within a web page that someone could click allowing the video to be downloaded.  I was able to get this working in a similar way to what you have now added to the library - great!

The issue I'm having is that although I'm pa

[2018-12-30 16:56] nutkracker opened #28 "Endpoint support for pagination"
Hi,

Please refer to my last comment added to Fetching Clips #25.  Would appreciate your thoughts on that.

So in the meantime, I've changed my implementation to yours as per your last update on this topic but I don't appear to be able paginate and retrieve the additional files.  Passing page 0, page 1, page 2 just returns the same list of files.

Am I doing something wrong...?

Thanks

Nutz

[2018-12-31 14:51] nutkracker commented on #28
I've had another look at this...  found that I was setting up the URL separately to what was going on within the getVideos routine.  Made a small modification to getVideos that allows the passing of the page number and the URL is set accordingly (url: this.urls.video_url + "/page/" + pageNo).  Works for me.

Still would appreciate your thoughts on my comments to #25.

[2018-12-31 20:46] madshall commented on #28
If there was a bug in `getVideos` that you've fixed, can you make a PR please? Re: session issue - looking into it

[2018-12-31 20:54] madshall commented on #28
Hmm, can't find anything to be shared between two instances of the class. How do you re-authenticate a new user?

[2018-12-31 20:59] madshall commented on #27
Closing due to inactivity. Reopen if the issue wasn't resolved.

[2018-12-31 20:59] #27 closed

[2019-01-01 09:39] nutkracker commented on #28
Hi, I only authenticate the once and capture the token that is returned.  This is passed as part of subsequent calls.  Is this a NodeJS session configuration thing...?

[2019-01-02 23:15] nutkracker commented on #28
Yes understood.  Within my web application, I don’t switch user.  What could cause another user from accessing the shared data?  May be I’ve a global variable that is holding this data...?  Will check.  I may have to stick code up on Github so you can see what’s happening..?

[2019-01-02 23:21] madshall commented on #28
If you could share the code it would be easier to debug. Otherwise it's really hard to understand what's wrong since you have your own auth flow.

[2019-01-04 01:44] madshall commented on #28
Thanks for sharing the code. I don't see any issues unless of course you log in with the same credentials twice or both users have the same Blink account. I can't run the code myself right now, but I'll do it in a few days when I get back to my laptop.

[2019-01-10 22:32] nutkracker commented on #28
Hi, have you had a chance to take a look at this as yet?

[2019-01-20 08:15] nutkracker commented on #28
@madshall hi, would appreciate if you could take a look at the issue I raised above...  any luck?

[2019-01-23 14:53] madshall commented on #28
Sorry for the delay. `blink` object is shared between all users in your implementation. When the second user logs in the first user doesn't exist anymore. Basically your implementation is not multi-user, it's single user. You don't maintain user sessions, but reinitialize Blink with last submitted user info.

[2019-01-26 13:19] nutkracker commented on #28
@madshall thanks for coming back to me...  appreciate the feedback!  I’ll take another look!

[2019-07-23 09:17] superman3 opened #29 "Request : Update to use latest blinkpy release"
The underlying python library has updated and it solves a few issues - one being the multiple sync modules - wonder if this could be updated to match please ?

 https://github.com/fronzbot/blinkpy

[2019-08-25 10:18] slipstream1 commented on #29
At this point I’d (and I expect others would) be pay for this to happen. Could that be an option ?

[2019-08-25 12:13] madshall commented on #29
Let me check how far ahead is that library. I'll check it out today and will update this with issue an ETA.

[2019-08-25 12:19] madshall commented on #29
BTW, it's not about updating to their latest release. This library is a completely separate one. Inspired by that one, but it's not using it.

[2019-08-25 12:43] slipstream1 commented on #29
That mean it’s not possible or a whole new npm package to be written ?

[2019-08-25 12:57] madshall commented on #29
No, it just means I have to read their python code and rewrite it in nodejs here. The other thing is I only have one sync module so I'll need someone to test it for me on a separate branch.

[2019-08-25 13:05] slipstream1 commented on #29
Awesome. Happy to help with any testing needed. Let me know what you need :)

[2019-08-25 14:26] slipstream1 commented on #29
Please also add a PayPal / donation link so we can help / appreciate the work you’re doing :)

[2019-08-25 19:18] madshall commented on #29
Multiple sync modules look pretty straightforward. Will take me a couple of days to implement. The rest... "Update to use latest blinkpy release" as I mentioned before, it's not like I'm using their library under the hood. This package is a standalone nodejs implementation of blink security api. I can't replicate everything they do, but agree, multiple networks and sync modules is a must have feat

[2019-08-26 02:38] #29 closed

[2019-08-26 02:56] madshall commented on #28
I assume this can be marked as closed. lmk if not

[2019-08-26 02:56] #28 closed

[2019-08-26 06:12] nutkracker commented on #28
Yes that’s fine thanks.  I wasn’t able to resolve... NodeJS knowledge a bit rusty.

[2019-09-07 23:06] squareplanetdesign opened #33 "getIDs is throwing an exception even when the network ID exists."
I have a program that has been working with older version, but after recent changes on this development branch now breaks. I tracked down the problem to the getIDs method.

The problem is with the request callback. The closure is not capturing the correct this reference  and than the second issue is that the loop that pushes the identified network  is instead pushing false onto the array and not s

[2019-09-07 23:43] #33 closed

[2019-11-12 22:50] mustafa-k commented on #18
I still not able to turn motion detection enable or disabled using this method setMotionDetect(true)
Can someone confirm if it is working ?

If I use a valid auth token and fire a POST API call for same using a postman client, I get
{
    "message": "Unauthorized Access",
    "code": 101
}

Has Blink changed it underlying APIs ?

[2019-11-12 22:52] mustafa-k opened #37 "Enable / Disable of camera motion detection is not working"
blinkCamera.setMotionDetect(boolean) is not working.

Trying to execute a POST API call with valid auth token and arm_string with 'enable' or 'disable' with a postman client gives following error:
{
    "message": "Unauthorized Access",
    "code": 101
}

[2019-11-13 00:08] madshall commented on #18
I've just tested it and it works. Here's my code:
[code]

[2019-11-13 00:11] madshall commented on #37
This code works:
[code]
I don't know how you call it, but this ^ is how you should do it. Regarding postman: where did you get the API endpoint from?

[2019-11-13 16:49] mustafa-k commented on #37
I got API endpoints from:
https://github.com/MattTW/BlinkMonitorProtocol

I replaced 'https://rest.prod.immedia-semi.com/' with new arm_string obtained by this code as it has a correct region code

I will try above code sample and update, Thank you for your reply.

[2019-11-13 17:24] mustafa-k commented on #37
It works !   Thank you.

I needed to control a single camera, so used...
        Object.values(blink.cameras).forEach(camera => {
          if(camera.name == 'Cameras name') {
            camera.setMotionDetect(true);
          }
        });

[2019-11-13 17:24] #37 closed

[2019-11-13 17:28] mustafa-k commented on #18
It works ! Thank you.

I needed to control specific cameras, so used...

[code]

[2020-05-04 22:15] captconstruct opened #39 "Blink Security Deprication"
I received this email earlier today:

You are receiving  this email because your account has used automation scripts that use an  outdated login method to connect to your Blink account. With  security and customer protection as our top priority, that login method  is being deprecated.  This means that any scripts you are using will no  longer work as of 5/11. 									 

We encourage you to try ou

[2020-05-04 22:17] madshall commented on #39
Me too. Will see if it really gets broken and will take a look at the options afterwards.

[2020-05-05 00:18] madshall commented on #39
Meanwhile I'll take a look which auth method IFTTT uses. Maybe I can switch to using it before they break things.

[2020-05-05 00:30] tonymet commented on #39
I'm glad to hear it -- this felt like a weak security model.

btw anyone know how to get login notifications from blink?

[2020-05-05 07:46] mtressl commented on #39
Just came here for the same email I got from Blink. Following.

[2020-05-07 14:53] bartdorsey commented on #39
As a consumer of this for my homebridge module, I'll be interested to see what you can come up with. As for now I'm going to put an notice at the top of my module's github to let users know what's going on.

[2020-05-07 20:28] erickribeiro commented on #39
blinkpy library is currently beta testing a solution to enable 2FA. See details here:
https://community.home-assistant.io/t/blink-cameras-discontinuing-legacy-login/192837/49

Any chance the same could be implemented in node-blink-security?

[2020-05-07 20:34] madshall commented on #39
I am pretty busy today, but I think I could take a look at it this weekend. If anyone wants to help I'd be happy to accept a PR, too.

[2020-05-08 16:28] madshall commented on #39
The PR is ready. I'd appreciate if anybody could pull that branch and test it, too. With `auth_2FA = false` it will follow the one-time verification flow via email. With `auth_2FA = true` it will prompt for a verification code every time the app runs.

[2020-05-09 19:17] bartdorsey commented on #39
Okay so if I'm understanding this correctly when you set auth_2FA to `false` it does 2FA but only ONCE and then it saves a token somewhere for future authentications? while setting it to `true` causes it to prompt you for the code every time?

[2020-05-09 19:19] bartdorsey commented on #39
After entering my code the first time I got this message:
[code]

But after clicking "Allow device" on the "Verify new Device Login" it seems to login properly with 2FA set to false.

[2020-05-09 19:21] bartdorsey commented on #39
BTW after I'm authed correctly switching 2FA back to true results in this:

[code]

[2020-05-09 19:24] bartdorsey commented on #39
Also this is odd, i'm setting device name properly in the options but in one of the emails from blink it shows this:
![image](https://user-images.githubusercontent.com/362049/81483010-aa1e7700-9200-11ea-8ec1-2679e54df19e.png)

I'm guessing this might be a bug on blink's side since the email I get with the code looks fine and shows my correct device name.

[2020-05-09 22:10] madshall commented on #39
@bartdorsey I believe with the code verification it has to be required each time since that's how it works in 2FA usually. The way they implemented it is unknown and I believe the work isn't even finished on their end. That "*|DEVICENAME|*" is one of the reasons for me to think so.

No, they register your `deviceId` in their systems and allow authenticating from that device later without you havin

[2020-05-09 22:11] madshall commented on #39
I'm looking at the error you're seeing

[2020-05-09 22:28] madshall commented on #39
The error is coming from Blink - the request times out.

[2020-05-09 22:34] madshall commented on #39
I believe once they turn this whole thing on some other bugs will pop up. Maybe they'll shutdown the entire existing api and fully switch to v4, which I don't have access to. Will see.

[2020-05-11 13:03] #39 closed

[2020-05-12 13:00] anonymous-one opened #41 ".refresh() does not work"
Thanks for the script, appreciate it!

Small issue with your script, .refresh is broken, it does not iterate though the networks but tries to pull them directly from summary.devices rather then summary[networkid].devices.

I won't butcher your code by posting a fix since I am not so fluent in nodejs.

I just added an extra for in within the loop and its fixed.

Thanks again!

[2020-05-12 19:17] anonymous-one opened #42 "Add function for "clip" API call"
I use the /clip API call to force blink to record a clip at will.

Its a great way to (for example) force a record when my mailbox sensor goes off but my cameras are off because we are home.

Its a simple /clip call in blink_cameras.

[code]

I have added the above to blink_camera.js and its working 100%.

[2020-05-12 19:52] madshall commented on #42
Great, thank you!

[2020-05-12 19:52] #41 closed

[2020-05-12 19:52] #42 closed

[2020-05-14 15:46] bartdorsey opened #44 ".refresh() method does not update networks status"
I'm unsure if this is intentional or not, but calling .refresh() doesn't appear to update the status of the networks only the cameras.

[2020-05-14 15:49] bartdorsey commented on #44
Curiously enough, getSummary() also doesn't update the status of the networks on the .networks property.

[2020-05-14 17:59] bartdorsey commented on #39
Hi I have a question about how this works. With auth_2FA set to false, I'm seeing that blink does not send a code, but only sends an email about allowing the device.  Is that your experience?

[2020-05-14 18:18] madshall commented on #39
Yes, that's correct. If you set that flag to "true" then it will send an email with a code that you need to input via command line.

[2020-05-15 17:35] bartdorsey commented on #39
So I have a related question. Do you have to use auth_2FA set to true the first time you authenticate, and then switch it back off?  I'm confused as to how this should be used.

[2020-05-15 17:49] madshall commented on #39
@bartdorsey if you want to input the auth code every time you run the app, then use `auth_2FA: true`. If you want your device to be remembered by Blink once and forever set it to `false` or omit it.

[2020-05-15 18:03] bartdorsey opened #45 "camera clip URL isn't valid."
I tried to fetch the clip URL and I get this JSON response back from the blink servers:

[code]

So I'm assuming the clip URL we have isn't the correct one that blink actually uses for the video clip.  How are you reverse engineering what the blink app does?

[2020-05-15 19:58] madshall commented on #45
Can you show me the code you used?

[2020-05-15 20:00] madshall commented on #45
Maybe they've changed something else along with auth endpoints. Can you fetch `thumbnail`?

[2020-05-15 20:26] #44 closed

[2020-05-15 23:39] bartdorsey commented on #45
So I also tried to grab the getVideos url at `'/api/v2/videos'` and that returns

```{ message: 'An app update is required' }```

Here's some sample code I was using

[code]

[2020-05-16 00:03] bartdorsey commented on #45
BTW the `thumbnail` url works.

[2020-05-16 00:27] madshall commented on #45
What are you trying to achieve? Do you want to record video from your camera or access a previously recorded clip?

[2020-05-16 01:06] madshall commented on #45
Try using `blink.getVideos()` with the latest version - 4.1.4

[2020-05-18 13:46] Wolf9 opened #47 "CORS when setupSystem"
Hello,

I just start to use this module, but i have an error when i use the setupSystem function :
Access to fetch at 'https://rest.prod.immedia-semi.com/api/v3/login'.

Someone have an idea ?

I just use the exemple code

[2020-05-19 14:56] bartdorsey commented on #45
Thanks, hopefully I'll have a chance to try this this week sometime.

[2020-05-23 16:51] FelixGaebler opened #48 "No cameras listed"
I just setup my two Blink Minis, but they dont show up in the object dump from the example snipped, but my network does. Am I using it wrong?

[code]

[2020-05-24 10:47] FelixGaebler commented on #48
Also the getsummery method returns no devices

[code]

my app displays the two cams without any problem.

[2020-05-24 15:59] bartdorsey commented on #39
So just to be clear, if you start using this plugin with auth_2FA set to false then you never have to enter a 2FA code and authentication will just work?  If a code is optional, why does blink even have them?

[2020-06-13 01:32] NodeGuy commented on #47
Yes, this is a known problem.  See https://github.com/lurume84/bling-viewer#usage-guide

[2020-06-24 14:17] bartdorsey opened #51 "Some blink servers have expired certificates."
A user of my homebridge plugin noticed that some blink servers have expired certificates which causes API calls to fail using this plugin.  You can see the discussion here. https://github.com/bartdorsey/homebridge-blinkcameras/issues/28#issuecomment-648837001

There’s also a discussion of this over here for homeassistant https://github.com/home-assistant/core/issues/24221

[2020-06-26 18:09] sanchezl commented on #51
Looks like it might have to do with a change in how the URLs should be constructed. See https://github.com/MattTW/BlinkMonitorProtocol/issues/39#issuecomment-631451271

[2020-07-10 21:39] anonymous-one opened #52 "API Stopped working..."
Unable to auth :(

Here is a dump:

[code]

[2020-07-10 21:43] anonymous-one commented on #52
Digging into it...

I'll post my results, but:

```Error [ERR_TLS_CERT_ALTNAME_INVALID]: Hostname/IP does not match certificate's altnames: Host: prod.immedia-semi.com. is not in the cert's altnames: DNS:cloudfront.net, DNS:*.cloudfront.net```

[2020-07-10 22:30] anonymous-one commented on #52
Alright looks like the endpoints changed from rest.____ to rest-____.

Once I updarted the constants and blink_url_handler files I am now getting:

`Error: write EPROTO 140198944388928:error:1408F10B:SSL routines:ssl3_get_record:wrong version number:../deps/openssl/openssl/ssl/record/ssl3_record.c:332:

    at WriteWrap.onWriteComplete [as oncomplete] (internal/stream_base_commons.js:87:16) {
  er

[2020-07-10 23:31] apepelis commented on #52
the python version stopped working so I tried this one. it's also not working.

[2020-07-10 23:50] anonymous-one commented on #52
Alright, the API end points have changed... Here is what I did to fix it:

constants.js:

[code]

[code]

blink.js:

Remove / comment out all instances of "Host: ..." for each of the request.post blocks.

Enjoy.

[2020-07-11 04:37] yphoenix commented on #52
Worked for me.

[2020-07-11 12:03] tsolid commented on #52
This did it. Nice find @anonymous-one

[2020-07-12 15:12] bartdorsey commented on #52
@madshall this fixed it for me. When will you push a new release containing this fix?

[2020-07-12 15:20] madshall commented on #52
It's released now as v4.1.5

[2020-07-12 15:21] #52 closed

[2020-07-12 15:43] Darren5233 commented on #52
Sorry if this sounds a really obvious question but I'm new to GitHub.  How to I download and install this on a RaspberryPi.

[2020-07-18 03:01] javatar3 commented on #52
Hi, thanks for a great library!
I just updated to the latest version and am now seeing this error: "BlinkAuthenticationException [Error]: Device ID must be a string"
Could somebody please share some wisdom? Thanks!

[2020-07-22 20:39] slavik0329 opened #55 "Hitting verification timeout with no emails coming in"
I'm never getting a verification email. I used the cameras id as device_id and well as other strings and still not working. Verification always times out

[2020-07-22 20:42] slavik0329 commented on #55
If I set auth_2FA to true, I get the emails but then after entering the correct code I get this:
`BlinkAuthenticationException [Error]: Authentication problem: Unauthorized Access
`

[2020-07-28 19:45] eric-h-st commented on #55
Same here. I'd appreciate an advice.

[2020-07-28 22:17] eric-h-st commented on #55
OK. I tried to make the call directly in postman, same results.
The results states that the account is verified, but the client is not, meaning an email should be sent but there's nothing in my inbox or junk for that matter.
Maybe they now force 2FA.
So, I tried to make the 2FA calls in postman, got the email (pin good for 40m), tried to make the pin verification call, and got a 401, with applicat

[2020-07-29 05:03] eric-h-st commented on #55
**Updates**
I read the code and examined the response from both the v3 and v4 login requests some more, and found that, although it says:
[code]
it actually also has:
[code]
so I bypassed the login process by supplying these two (`_token` & `_region_id`) directly to the `Blink` constructor, and what do you? it worked!

**Something is odd in the process**, but it seems that I'm already getting the

[2020-07-30 04:01] eric-h-st commented on #55
Please see [PR](https://github.com/madshall/node-blink-security/pull/56) I created as a workaround.
I'm using this package in my module [here](https://github.com/eric-h-st/MMM-BlinkCameraIntegration) and it works very well with the workaround.
FYI

[2020-07-30 21:42] slavik0329 commented on #55
@eric-h-st It sends email now but when I put in the pin I get oen of two errors:
```(node:24193) UnhandledPromiseRejectionWarning: Error: Authentication problem: An app update is required```
or
```(node:24213) UnhandledPromiseRejectionWarning: Error: Authentication problem: Unauthorized Access```

Any idea what that means?

[2020-07-31 01:07] eric-h-st commented on #55
I'll check.  Maybe they fixed their bug and we need to readjust.

[2020-07-31 04:10] eric-h-st commented on #55
Well, I'm sad to say that Blink has closed the v3 API completely now, and are now only using v4, which won't validate the pin sent by email...
@madshall any ideas?

[2020-07-31 23:10] anonymous-one commented on #55
*sigh*

More hoops to jump though... Tomorrow I climb the ladder and see if there is power on my roof and get rid of the blinks for good.

Its been a good 5 years... Was about to swap the whites which live out doors for the blacks... Good thing I didn't.

I'll keep an eye here and see if you all are able to figure it out.

Thanks for the script regardless.

[2020-08-01 04:39] eric-h-st commented on #55
I'm not giving up yet.
I already installed a sniffer on a rooted phone and going to figure this is out.
They cannot block us from adapting :-D

[2020-08-02 04:35] yphoenix opened #57 "An app update is required - failed verification"
Happened to me overnight. Seems Blink changed the API (again)

**[Blink System] Error authenticating with blink API Error: Authentication problem: An app update is required((

[code]

[2020-08-02 07:51] Darren5233 commented on #57
Same here I’m now getting the same error

[2020-08-02 07:51] bartdorsey commented on #57
https://github.com/MattTW/BlinkMonitorProtocol/commit/99a27109e6c06a37cd36422ebad766febaa4496a

Looks like MattTW has documented that the URL has changed?

[2020-08-02 17:05] yphoenix commented on #57
Looks like the region information in the response to the authenentication has changed and is now:
[code]
I hacked blink.js (around line 450) to get something that works and we'll see how that goes. So far I can get the list of networks but can't get past that stage as they have probably changed too much other stuff.

[2020-08-02 17:22] yphoenix commented on #57
Even if you can get past authentication...
[code]
Gives you an app upgrade required response.

[2020-08-02 18:49] brianhackel commented on #57
I found some of the api source code [here](https://github.com/fronzbot/blinkpy) to be useful while hacking last night.
i think maybe the URL for getSummary() needs to drop the "/homescreen" and simply reference `this.urls.network_url + networkId`. But then the response parser needs to be updated as well.
Once authenticated, i had success receiving system state with
`https://rest-prod.immedia-semi.

[2020-08-02 18:59] madshall commented on #57
I don't own the system anymore. Will gladly make someone else a maintainer.

[2020-08-02 19:45] yphoenix commented on #57
If I have time I can look to see if I can fix the code. I wish Blink (AKA: Amazon) would stop doing this, or at least just publish the specs because they know they are going to be easily reverse engineered anyway.

[2020-08-03 01:21] yphoenix commented on #57
Well many hours later I have some stuff working, but I can't arm a sync module because they have changed the api endpoints again. I'm giving up for today.

[2020-08-03 14:02] MattTW commented on #57
Gonna take a stab at refreshing the API doc later today.  In lieu of that:

arm/disarm:  `https://rest-prod.immedia-semi.com/api/v1/accounts/{accountID}/networks/{networkID}/state/arm` or`disarm`

Command status endpoint URL format does not appear changed at this time.

If there are other endpoint URL's I can grab quick for anyone, let me know.

[2020-08-03 14:48] yphoenix commented on #57
Can confirm that that arm / disarm End-point still works.

[2020-08-03 14:52] yphoenix commented on #57
Currently I don’t have the enable / disable of activity triggers on a camera by camera basis working but have everything else. If I can get that to work I’ll clean it up and submit a set of changes for somebody to review.

[2020-08-14 20:00] Ryanlion79 commented on #57
you guys are absolute legends, please let us all know once you have this fixed.

[2020-08-18 18:23] crowston commented on #57
@yphoenix If you want to share a patch of your current status, perhaps others can help finalize it?

[2020-08-24 13:34] rcoletti116 commented on #57
Is anyone able to confirm if this is still being worked on?

[2020-08-27 00:51] yphoenix commented on #57
I can update what I have, it's a hack and it only half works but it is enough to turn on / off my system from HomeKit / Siri which is what I wanted.

[2020-08-27 01:16] yphoenix commented on #57
Based on the files I changed and the ample console.log's as I debugged these are the files I changed...

[homebridge-blinkcameras changes.zip](https://github.com/madshall/node-blink-security/files/5133425/homebridge-blinkcameras.changes.zip)

[2020-08-27 14:55] rcoletti116 commented on #57
Yes, this worked! The logging is a bit out of control though. Are you also seeing all of the API responses in your HB logs?

[2020-08-27 15:19] rcoletti116 commented on #57
Can you say which "half" doesn't work? I've got your update running and not seeing any deficiencies yet, other than the logging.

[2020-08-27 15:33] yphoenix commented on #57
Often I see the status of the system in Home as off when I know full well it is on. There was something else but I’ve forgotten what that was now. The logging is easy to turn off and I purposely didn’t indent the console.log calls to make them easy to find. Once I had something working I stopped and clean everything up and it really needed fixing correctly and I don’t have the time.

[2020-08-27 16:36] rcoletti116 commented on #57
I see the first issue now. This occurred in previous versions as well. You turn it on in Home but it will show as off not too long after. Thanks again for sharing your work.

[2020-10-12 22:57] BobFrankston opened #59 "2FA -- what do I do with the verification code?"
I got the email with the verification code but don't know what to do with it.

[2020-10-18 09:49] fklement commented on #57
@madshall @rcoletti116 @yphoenix  Will there be PR for the current fix?

[2020-10-18 09:53] fklement commented on #59
@BobFrankston Same here. Did you find it by now?

[2020-10-19 00:05] BobFrankston commented on #59
Alas, still haven't figured it out.

[2020-10-19 11:41] mpkossen commented on #59
If ran through the CLI, it prompts you to enter it.

Not that it works beyond that for me though, I get an Unauthorized Access error after entering the code I received.

[2020-10-19 12:04] mpkossen commented on #57
I seem to have figured out what the issue is.

First of all, you _need_ 2FA to make it work. Seems like that's mandatory now, at least for API calls.

Second, the 2FA URL is statically set at 'rest-prod.immedia-semi.com' whereas to verify the PIN it needs to go to a region-specific URL like 'rest-u001.immedia-semi.com'. The script does use that after authentication, but not for the PIN verificatio

[2020-10-19 20:44] mpkossen commented on #57
I've been digging deeper into this and there have been some substantial changes to the API, meaning parts of this will have to be rewritten. Certain API calls have been deprecated and others have had their response (heavily) altered, meaning anything might work or be broken.

Time permitting I'll work through the script to see what I can do. I'll be submitting pull requests for those changes that

[2020-11-24 18:28] djboulia commented on #57
@madshall I've gone through the code and updated to the latest API changes thanks to the info on @MattTW page.  They are substantial as @mpkossen indicates.  Happy to share if anyone is interested.

Pull request here:
https://github.com/madshall/node-blink-security/pull/60